<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net461" />
  <package id="SimWinMouse" version="1.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>